/* 
    Created on : 2015-11-19, 08:19:43
    Author     : SlawomirWolanski
*/

/*.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
}*/


/*@media only screen and (max-width: 768px) {
     For mobile phones: 
    [class*="col-"] {
        width: 100%;
    }
}*/





@media only screen and (max-width: 1000px) {
    /* firma */
    #banner p{
        width: 90%;
    }
    /* mechanika pojazdowa */

    .mechanika .container ul li{
        width: 40%;
        background: #f9f9f9 url('../img/degree.png');
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        padding: 20px;
        box-shadow: 5px 0px 15px rgba(0,0,0, .2);
    }
}

@media only screen and (max-width: 768px) {
    /* menu */
    .logo{
        float: none;
        margin: 0 auto;
    }
    .contact-wrap{
        float: none;
        margin: 0 auto;
    }
    .navbar-brand{
        display: block;
        border-bottom: 1px solid #fff;
        text-align: center;
    }
    /* footer */

    .footer-left{
        width: 100%;
        float: none;
    }
    .footer-right{
        width: 100%;
        float: none;
        margin-left: 10px;
    }

    /* firma */
    #banner p{
        width: 90%;
    }
    
    /* mechanika pojazdowa */
    .mechanika .container ul li{
        width: 60%;
        margin-bottom: 5%
    }
    /* pomoc drogowa */
    
    .pomoc .container .opis{
        padding: 0 10px;
    }
    .pomoc img{
        width: 90%;
    }
}

@media only screen and (max-width: 500px) {
    /* firma */
    .left-menu{
        width: 80%;
        margin: 50px auto 0 auto;
        float: none;
    }
    .right-content{
        width: 100%;
        clear: both;
        float: none;
    }
    .right-content div.visible{
        margin-top: 25px;
        margin-bottom: 30px;
    }
    /* mechanika pojazdowa */
    .mechanika .container ul li{
        width: 80%;
        margin-bottom: 5%
    }
}